pre.prettyprint {
	background: #f9f9f9 !important;
	position: relative !important;
	overflow: auto !important;
	overflow-y: hidden !important;
	font-size: 1em !important;
	margin: 20px auto;
	background-color: #dedede;
	border: 1px solid #e6e6e6;
	padding: 10px;
	padding-left: 0px;
	
}

pre.prettyprint span {
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace !important;
}

/*.source-hl, .var-hl {
	border-bottom: 1px solid #B0C9DF !important;
}

*/