pre.prettyprint .source-hl, pre.prettyprint .var-hl {
	border-bottom: 1px solid lavender;
}

pre.prettyprint .api-hl .pln{
	color: teal;
}


.codota-scope .top-box {
	max-width: 870px;
}

.private-alert {
	font-size: 13px;
	line-height: 13px;
	padding: 5px;
	display: inline-block;
	margin-left: 10px;
	background-color: #f8eec7;
	border-radius: 3px;
	color: #a1882b;
}

.livecode-menu [id^=___plusone], .livecode-menu .codota-feedback {
	display: none !important;
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint.linenums {
    padding: 2px;
    border: 1px solid #E0E0E0 !important;
    padding-left: 50px !important;
}

/* Specify class=linenums on a pre to get line numbering */
pre.prettyprint ol.linenums { color: rgba(0,0,0,0.3); margin-top: 0 !important; margin-bottom: 0 !important} /* IE indents via margin-left */

pre.prettyprint li {
    border-left: 1px solid #EEEEEE !important;
    padding-left: .5em !important;
    padding-bottom: 3px;

}

pre.prettyprint .kwd {
    color: #333;
    font-weight: bold;
}