 .article .top-bar-placeholder {
 	margin-right: 170;
 	background-color: #FFE;
 	padding-top: 0px;
 }
 
 /* Rules for Vogella highlights */
 .programlisting .kwd {
   color: #7f0055;
   font-weight: bold;
 }
 .programlisting .str {
   color: blue;
 }
 .programlisting .com {
   color: #080;
   font-style: italic;
 }
 .programlisting .lit {
   color: gray;
   font-style: italic;
 }


pre.prettyprint .var-hl-selected {
	padding: 0px;
	line-height: 15px;
}

.codota-scope .popover-content a {
	color: #0088cc !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

.codota-scope .popover-content a:hover {
  color: #005580  !important;
  text-decoration: underline  !important;
  background-color: transparent  !important;
}
