.april-grayscale {
	transition: filter 0.3s;
	filter: grayscale(1);
}

.april-blur {
	transition: filter 0.3s;
	filter: blur(0.7px);
}

.april-tilt {
	transition: transform 0.5s;
	transform: rotate(0.8deg);
}

.april-tilt-1 {
	transition: transform 0.5s;
	transform: rotate(-0.8deg);
}

.april-skew {
	transition: transform 0.5s;
	transform: skewX(0.9deg);
}

.april-skew-1 {
	transition: transform 0.5s;
	transform: skewX(-0.9deg);
}

.april-text-direction {
	direction: rtl;
}

.april-flip {
	transition: transform 0.3s;
	transform: scaleX(-1);
}

.april-flip-1 {
	transition: transform 0.3s;
	transform: scaleY(-1);
}