.codota-scope ul{
	margin: 0;
	padding: 0;
}

.codota-scope{
	font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

.codota-scope .top-bar-placeholder{
	display: flex;
}

.codota-scope .mono{
	font-family: 'Menlo', Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.codota-saves-selection-button{
	display: flex;
	font-size: 11px;
	background: #F2F3F7;
	border-radius: 2px;
	margin-right: 5px;
	padding: 0 5px;
	height: 17px;
}

.codota-saves-selection-button .icon{
	font-size: 15px;
}

pre.prettyprint .source-hl:hover,
pre.prettyprint .var-hl:hover {
	cursor: pointer;
}

pre.prettyprint .source-code-panel {
	margin: 5px;
}


pre.prettyprint {
	overflow: auto !important;
}

pre.prettyprint .source-hl, 
pre.prettyprint .var-hl {
	border-bottom: 1px solid #B0C9DF;
}

pre.prettyprint .source-hl:hover {
	border-bottom: 1px solid blue;
	text-decoration: none !important;
}
pre.prettyprint .var-hl:hover {
	border-bottom: 1px solid blue;
	text-decoration: none  !important;
}


pre.prettyprint .var-hl-selected {
	text-decoration: none;
	/*border-color: navy !important;*/
	/*border-style: solid;*/
	/*border-width: 1px;*/
	background-color: yellow;
	/*padding: 1px;*/
	/*border-radius: 2px;*/
}


pre.prettyprint .deprecated {
	background-color: rgb(242, 222, 222);
	border-color: rgb(238, 211, 215);
	text-decoration: line-through;
}


pre.prettyprint a.api-hl:hover {
	/*cursor: help;*/
	text-decoration: none;
}

pre.prettyprint a.deprecated:hover {
	/*cursor: help;*/
	text-decoration: line-through;
}

pre.prettyprint .api-hl-selected {
	background-color: White;
	text-decoration: none;
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
	border-radius: 2px;
}

.codota-scope .tooltip {
	max-width: 1000px;
	/*opacity: 1.0 !important;*/
}


.codota-scope .tooltip-inner {
	/*background-color: green;*/
	word-wrap: break-word !important;
	/*min-width: 50px;*/
    white-space:pre-wrap  !important;
    /*width: auto;*/
    max-width:1000px !important;
    float: left;
	text-align: left;
	/*word-break: keep-all;*/
	display: inline-block;
	/*white-space: nowrap;*/
	font-size: 12px;
	padding: 10px;
	font-family: helvetica;
/*	background-color: white !important;
	color: black  !important;
	letter-spacing: 1px  !important;
	border-color: #888 !important;
	border-style: solid !important;
	border-width: 1px !important;
*/}

.codota-scope .popover {
	max-width: 600px !important;	
	z-index: 100 !important;
}

.codota-scope .popover p {
    line-height: 20px !important;
    margin: 0px !important;
    font-size: 14px !important;
}

.codota-scope .popover.right {
	margin-left: 12px !important;
}

.codota-scope .popover hr {
	margin-bottom: 10px !important;
	margin-top: 10px !important;
	display: block !important;
	border-left: none !important;
}

.codota-scope .popover-title {
	word-break: initial !important;
	word-wrap: normal !important;
	font-family: helvetica,arial, sans-serif  !important;
	font-size: 14px !important;
	padding: 5px !important;
	color: black !important;
	margin: 0px !important;
	/*overflow: scroll;*/
}

.codota-scope .popover-content {
    max-height: 300px;
    overflow-y: auto;
	padding: 0 !important;
}

.codota-scope .popover-content code, .codota-scope .popover-content pre {
	background-color: inherit;
	font-family: inherit;
	white-space: pre-line;
	max-height: inherit;
	color: inherit;
	border: none;
	padding: none;
	font: inherit;
}



.codota-scope .codota-search-link  {
	font-family: helvetica,arial, sans-serif;
	font-size: 14px;
}

.codota-scope .top-box {
	padding: 5px;
	min-height: 28px;
	margin-bottom: -5px;
	/*height: 30px;*/
	display: none;
	/*text-align: right;*/
}

.codota-scope .feedback {
	display: inline-block;
	font-size: 14px;
	float: right;
	/*margin-left: 30px;*/
}

.codota-scope .livecode-info-link, .codota-scope .livecode-info-link:visited {
/*	margin-left: 15px;
	margin-right: 55px;
*/	font-size: 1em;
	/*color:  #007dbf;*/
}

.codota-scope .show-clickable {
	text-decoration: underline;
	border: none;
	background-color: inherit;
}

.codota-scope .top-box > .codota-scope .alert {
	margin-bottom: 0px !important;
	padding-bottom: 4px !important;
	padding-top: 4px !important;
}

.codota-scope .top-box > .codota-scope .alert-info {
	display: none;
}

.codota-scope .powered {
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/logo.png');
	background-repeat: no-repeat;
	background-position: right top;
	/*background-position: 10px;*/
	display: inline-block;
	/*vertical-align: middle;*/
	background-size: 64px;
	/*margin-top: -2px;*/
	height: 16px;
/*	margin-bottom: 5px;
	line-height: 20px;
*/	width: 92px;
	margin-left: 10px;
}



.codota-scope .top-bar-placeholder {
	z-index: 30;
	position: absolute;
    /*background-color: #FFF;*/
    /*border: 2px solid #EEEEEE;*/
    /*border-radius: 5px;*/
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.codota-scope .watermark {
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
	float: right;
	text-align: right;
	display: block;
	height: 17px;
	width: 17px;
	vertical-align: middle;
    padding-left: 0px;
    /*margin-top: 2px;*/
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
}

.codota-scope .codebox-save-btn,
.codota-scope .codebox-save-selection-btn {
	float: right;
}

.codota-scope .hide {
	display: none;
}

.codota-scope .show {
	display: inline-block;
}

.codota-scope .codebox-badge {
	float: right;
    padding: 2px 6px;
    margin: 0px 0px 1px 1px;
    font-size: 9px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	white-space: nowrap;
	background-color: #999999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    border: 1px solid #cccccc;
    cursor: pointer;
    vertical-align: middle;
    *zoom: 1;
    outline: none;
}

.codota-scope .codebox-badge:hover,
.codota-scope .codebox-badge:visited,
.codota-scope .codebox-badge:active {
	text-decoration: none !important;
	background-color: #999999;
	color: #ffffff !important;
    outline: none;
}

.codota-scope .codebox-frame {
	width: 900px;
	height: 625px;
}

/**
* Black Button
*/
.codota-scope .codota-black-btn {
    padding: 2px 6px;
    margin: 0px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
}

.codota-scope .codota-black-btn:hover,
.codota-scope .codota-black-btn:focus,
.codota-scope .codota-black-btn:active,
.codota-scope .codota-black-btn.active,
.codota-scope .codota-black-btn.disabled,
.codota-scope .codota-black-btn[disabled] {
    color: #FFF;
    background-color: #2a2a2a;
    text-decoration: none;
}

.codota-scope .codota-black-btn:active,
.codota-scope .codota-black-btn.active {
    background-color: #000 \9;
}

.codota-scope .codota-black-btn:first-child {
    *margin-left: 0;
}

.codota-scope .codota-black-btn:focus {
    outline: none;
}

.codota-scope .codota-black-btn.active,
.codota-scope .codota-black-btn:active {
    background-image: none;
    outline: 0;
}

.codota-scope .codota-black-btn.disabled,
.codota-scope .codota-black-btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.codota-scope .codota-black-btn {
    color: #FFF !important;
    background-color: #000;
    *background-color: #000;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-weight: 600 !important;
}

.codota-scope .codota-black-btn i {
    color: #FFF;
    background-color: inherit;
    border: none;
    font-size: 8pt;
}

.codota-scope .codota-black-btn:hover,
.codota-scope .codota-black-btn:focus,
.codota-scope .codota-black-btn:active,
.codota-scope .codota-black-btn.active,
.codota-scope .codota-black-btn.disabled,
.codota-scope .codota-black-btn[disabled],
.codota-scope .codota-black-btn:hover i,
.codota-scope .codota-black-btn:focus i,{
    color: #000 !important;
    background-color: #1E1E1E;
    *background-color: #1E1E1E;
}

.codota-scope .codota-black-btn .typ,
.codota-scope .codota-black-btn .pln {
    color: #FFF;
}


/**
* White Button
*/
.codota-scope .codota-white-btn {
    padding: 2px 6px;
    margin: 0px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 9px;
    line-height: 14px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
}

.codota-scope .codota-white-btn:hover,
.codota-scope .codota-white-btn:focus,
.codota-scope .codota-white-btn:active,
.codota-scope .codota-white-btn.active,
.codota-scope .codota-white-btn.disabled,
.codota-scope .codota-white-btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.codota-scope .codota-white-btn:active,
.codota-scope .codota-white-btn.active {
    background-color: #FFF \9;
}

.codota-scope .codota-white-btn:first-child {
    *margin-left: 0;
}

.codota-scope .codota-white-btn:hover,
.codota-scope .codota-white-btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
}

.codota-scope .codota-white-btn:focus {
    outline: none;
}

.codota-scope .codota-white-btn.active,
.codota-scope .codota-white-btn:active {
    background-image: none;
    outline: 0;
}

.codota-scope .codota-white-btn.disabled,
.codota-scope .codota-white-btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.codota-scope .codota-white-btn {
    color: #000 !important;
    background-color: #FFF;
    *background-color: #FFF;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-weight: 600 !important;
}

.codota-scope .codota-white-btn i {
    color: #000;
    background-color: inherit;
    border: none;
    font-size: 8pt;
}


.codota-scope .codota-white-btn:hover,
.codota-scope .codota-white-btn:focus,
.codota-scope .codota-white-btn:active,
.codota-scope .codota-white-btn.active,
.codota-scope .codota-white-btn.disabled,
.codota-scope .codota-white-btn[disabled] {
    color: #000 !important;
    background-color: #EEEEEE;
    *background-color: #EEEEEE;
}

.codota-scope .codota-white-btn:active,
.codota-scope .codota-white-btn.active {
    background-color: #FFF \9;
}


.codota-scope .codota-white-btn .typ,
.codota-scope .codota-white-btn .pln {
    color: #000;
}


/******** Btn ***********/

/*.codota-scope .livecode-menu hr {*/
	/*margin-bottom: 5px;*/
/*}*/

/*.codota-scope .livecode-menu ul {*/
	/*margin: 0px;*/
	/*margin-left: 5px;*/
/*!*	font-size: 18px;*/
	/*color: #4a6b82;*/
/**!}*/


/*.codota-scope .livecode-menu li {*/
	/*margin-top: 5px;*/
	/*margin-left: 10px;*/
	/*font-size: 14px;*/
/*}*/

/*.codota-scope .livecode-menu li a {*/
	/*!*color: #4a6b82;*!*/
	/*color: #0077cc;*/
/*}*/

/*.codota-scope .livecode-menu li small {*/
	/*font-size: 12px;*/
/*}*/

/*.codota-scope .livecode-menu li a:hover {*/
	/*text-decoration: none;*/
	/*color: inherit;*/
/*}*/

.codota-scope .menu-icon {
	display: inline-block !important; 
	width:1em !important;
	text-align:right !important;
}

.codota-scope .livecode-menu {
	display: flex;
	flex-direction: column;
	width: 140px;
}


.codota-scope .livecode-menu .livecode-menu-menu{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 5px;
}

.codota-scope .livecode-menu .livecode-menu-menu li{
	display: flex;
	justify-content: center;
	align-items: center;
}

.codota-scope .livecode-menu .livecode-menu-menu a{
	font-size: 12px;
	color: #6B727E;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	border-radius: 2px;
}

.codota-scope .livecode-menu .livecode-menu-menu a:hover, .codota-scope .livecode-menu .livecode-menu-menu a.active{
	color: #38A6EB;
	background: #F2F3F7;
}

.livecode-menu-bookmark.livecode-menu-bookmark-saved{

}


.codota-scope .livecode-menu .livecode-menu-menu a .icon{
	font-size: 20px;
	margin-right: 5px;
}

.codota-scope .livecode-menu .livecode-menu-search{
	font-size: 11px;
	color: #9DA5B5;
	display: flex;
	align-items: center;
	border-top: 1px solid #E9ECEF;
	align-items: center;
	padding: 5px 10px;
	cursor: pointer;
	justify-content: space-between;
}

.codota-scope .livecode-menu .livecode-menu-search .icon{
	color: #2DD7A6;
	font-size: 15px;
	margin-left: 5px;
}

/*.site-link {
	font-size: 14px;
}
*/
.codota-scope .alert-error {
	padding-top: 5px !important
}

.codota-scope .loading-alert {
	padding-bottom: 8px !important;
}
.codota-scope button.close {
	top: -5px !important;
}

.codota-scope .alert hr {
	margin-bottom: 5px;
}

.codota-scope .src-links {
	margin-bottom: -5px;
}
.codota-scope .gh-link {
	font-size: 12px !important;
	list-style-image: url('chrome-extension://__MSG_@@extension_id__/images/gh-bullet.png');
	padding: 0px;
	line-height: 16px !important;
}

.codota-scope .gh-link a {
	 margin: 0px; display: block; width: 100%; height: 100%;
	 margin-top: -10px;
	 vertical-align: top;
	 /*padding-top: -20px;*/
}

.codota-welcome .welcome-box {
	display: block;
	/*margin: auto;	*/
	margin-bottom: 10px;
/*	border-radius: 5px;
	border-style: solid;
	border-color: #DDD;
	border-width: 2px;*/
	padding: 12px;
	/*padding-bottom: 2px;*/
	font-size: 14px;
	background-color: lightsteelblue;
/*   -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
*/}

.codota-welcome .welcome-row {
	padding: 5px;
}

.codota-welcome .welcome-box p {
	line-height: 18px;
}

.codota-welcome .welcome-content .row {
	margin-left: inherit !important;
}

.codota-welcome .welcome-popover {
	/*background-color:  #f8f8fe !important;*/
	max-width: 400px !important;
	z-index: 50 !important;
}

.codota-welcome .welcome-popover .popover-title {
	background-color: lightsalmon !important;
	font-size: 18px !important;
}


.codota-welcome .popover .welcome-content {
	height: 400px;	
}


@-webkit-keyframes blinker {  
  0% { }
  50% { background-color: lightsalmon; border-color: salmon; border-width: 1px; border-style: solid;}
  100% {}
}


.codota-welcome-hl {
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: 1;  
  /*-webkit-animation-timing-function: cubic-bezier(0, .5,  1);*/
  -webkit-animation-duration: 4s; 	
}
.codota-welcome .welcome-msg {
	/*width: auto;*/
	padding: 10px;
	padding-top: 0px
}

.codota-welcome .welcome-msg h1 {
	font-size: 24px;
}
.codota-welcome .welcome-actions a {
	text-decoration: underline;
}


.codota-welcome .welcome-summary {
/*	border-top: solid;
	border-top-width: 1px;
	border-top-color: steelblue;
*/	margin-top: 10px;
	padding-top: 8px;
}

.codota-welcome .welcome-summary > h3 {
	display: inline;
}

.codota-welcome #done-welcome {
	margin-left: 25px;
}

.codota-scope .el-count {
	font-size: 22px;
	font-style: italic;
	font-weight: 500;
	margin-right: 5px;
}

.codota-scope .bottom-link a {
	margin-bottom: 5px !important;
	line-height: 35px !important;
}

.codota-scope .livecode-menu ul {
	padding: 0px;
}


.codota-welcome .welcome-box a,
.codota-welcome .welcome-box a:visited {
	color: #0077cc;
	text-decoration: none !important;
}

.codota-scope .livecode-menu a:hover,
.codota-welcome .welcome-box a:hover {
	text-decoration: none !important;
	color: black;
}

.codota-scope .livecode-menu i, .top-box i {
	color: inherit;
	background-color: inherit;
	border: none;	
}


.codota-scope .livecode-menu [id^=___plusone],
.codota-welcome .welcome-box [id^=___plusone] { 
	min-width:50px !important; 
	width: 55px !important; 
	height: 16px; 
	vertical-align: bottom !important;
}

.codota-logo {
	height: 22px;
}

.green-popovers-container>.popover {
    background-color: #51a351 !important;
    color: white !important;
    margin-top: -10px !important;
}

.green-popovers-container>.popover.bottom .arrow:after {
    border-bottom-color: #51a351 !important;
}

.green-popovers-container>.popover.top .arrow:after {
    border-top-color: #51a351 !important;
}

.green-popovers-container a.save-snippet-popover,
.green-popovers-container a.save-snippet-popover:visited,
.green-popovers-container a.save-snippet-popover:active,
.green-popovers-container a.save-snippet-popover:hover{
    color:white !important;
    text-decoration: underline !important;
}

.codota-scope .livecode-menu h3 {
    padding: 0px !important;
    font-size: 18px !important;
    margin: 0px;
    margin-bottom: 10px;
}


.close-codota-message {
	float: right;
	padding-left: 10px;
	font-weight: 600;
	position: relative;
	top: -1px
}

.close-codota-message:hover {
	cursor: pointer;
	color: red;
}

.codota-message {
	display: inline-block;
	font-size: 13px;
	line-height: 13px;
	padding: 7px;
	background-color: rgb(248, 238, 199);
	border-radius: 3px;
	color: #08c !important;
	margin-left: 60px;
	font-weight: 700;
}









.livecode-doc{

}

.livecode-doc .livecode-doc-header{
	display: flex;
	position: relative;
	align-items: center;
	padding: 10px 15px;
	border-bottom: 1px solid #E9ECEF;
}

.livecode-doc .livecode-doc-header .icon{
	font-size: 20px;
	color: #2DD7A6;
	border: 1px solid #F2F2F2;
	border-radius: 2px;
}

.livecode-doc .livecode-doc-symbol{
	font-size: 16px;
	margin-left: 10px;
}
.livecode-doc .livecode-doc-namespace{
	font-size: 16px;
	font-family: Menlo;
	color: #999999;
	margin-left: 5px;
}

.livecode-doc .livecode-doc-logo{
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);
	width: 18px;
	height: 18px;
}


.livecode-doc .livecode-doc-content{
	color: #6B727E;
	font-size: 15px;
	padding: 15px 15px;
	border-bottom: 1px solid #E9ECEF;
}

.livecode-doc .livecode-doc-footer{
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 10px 15px;
}

.livecode-doc .livecode-doc-footer a{
	display: flex;
	align-items: center;
	font-size: 12px;
}


.livecode-doc .livecode-doc-footer a .icon{
	font-size: 18px;
}