@font-face {
    font-family: 'codota-icomoon';
    src:
        url('chrome-extension://__MSG_@@extension_id__/icons/icomoon.ttf?6w0pml') format('truetype'),
        url('chrome-extension://__MSG_@@extension_id__/icons/icomoon.woff?6w0pml') format('woff'),
        url('chrome-extension://__MSG_@@extension_id__/icons/icomoon.svg?6w0pml#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="codota-icon-"], [class*=" codota-icon-"] {
    /* use !important to prevent issues with browser extensions that change icons */
    font-family: 'codota-icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.codota-icon-q-score:before {
    content: "\e965";
}
.codota-icon-version:before {
    content: "\e966";
}
.codota-icon-side-panel:before {
    content: "\e963";
}
.codota-icon-bookmark:before {
    content: "\e964";
}
.codota-icon-open:before {
    content: "\e962";
}
.codota-icon-promote:before {
    content: "\e961";
}
.codota-icon-dashboard:before {
    content: "\e960";
}
.codota-icon-filter:before {
    content: "\e900";
}
.codota-icon-private:before {
    content: "\e901";
}
.codota-icon-rules:before {
    content: "\e902";
}
.codota-icon-globe:before {
    content: "\e903";
}
.codota-icon-pin:before {
    content: "\e904";
}
.codota-icon-new-tab:before {
    content: "\e905";
}
.codota-icon-unscale:before {
    content: "\e906";
}
.codota-icon-play-stroke:before {
    content: "\e907";
}
.codota-icon-star-stroke:before {
    content: "\e908";
}
.codota-icon-star:before {
    content: "\e909";
}
.codota-icon-lightbox:before {
    content: "\e90a";
}
.codota-icon-walk-through:before {
    content: "\e90b";
}
.codota-icon-arrow-left:before {
    content: "\e90c";
}
.codota-icon-arrow-right:before {
    content: "\e90d";
}
.codota-icon-back:before {
    content: "\e90e";
}
.codota-icon-top:before {
    content: "\e90f";
}
.codota-icon-bottom:before {
    content: "\e910";
}
.codota-icon-forward:before {
    content: "\e911";
}
.codota-icon-buffer-l:before {
    content: "\e912";
}
.codota-icon-buffer:before {
    content: "\e913";
}
.codota-icon-context:before {
    content: "\e914";
}
.codota-icon-scale:before {
    content: "\e915";
}
.codota-icon-chat:before {
    content: "\e916";
}
.codota-icon-connect:before {
    content: "\e917";
}
.codota-icon-break:before {
    content: "\e918";
}
.codota-icon-code:before {
    content: "\e919";
}
.codota-icon-codebox:before {
    content: "\e91a";
}
.codota-icon-codota:before {
    content: "\e91b";
}
.codota-icon-cogwheel:before {
    content: "\e91c";
}
.codota-icon-copy:before {
    content: "\e91d";
}
.codota-icon-delete-codebox:before {
    content: "\e91e";
}
.codota-icon-save-codebox:before {
    content: "\e91f";
}
.codota-icon-fistbump:before {
    content: "\e920";
}
.codota-icon-new-window:before {
    content: "\e921";
}
.codota-icon-dotdotdot:before {
    content: "\e922";
}
.codota-icon-more:before {
    content: "\e923";
}
.codota-icon-vi:before {
    content: "\e924";
}
.codota-icon-loader:before {
    content: "\e925";
}
.codota-icon-edit:before {
    content: "\e926";
}
.codota-icon-share:before {
    content: "\e927";
}
.codota-icon-expand:before {
    content: "\e928";
}
.codota-icon-contract:before {
    content: "\e929";
}
.codota-icon-minus:before {
    content: "\e92a";
}
.codota-icon-plus:before {
    content: "\e92b";
}
.codota-icon-close:before {
    content: "\e92c";
}
.codota-icon-move-code:before {
    content: "\e92d";
}
.codota-icon-paste:before {
    content: "\e92e";
}
.codota-icon-save:before {
    content: "\e92f";
}
.codota-icon-refresh:before {
    content: "\e930";
}
.codota-icon-lock:before {
    content: "\e931";
}
.codota-icon-unlock:before {
    content: "\e932";
}
.codota-icon-search:before {
    content: "\e933";
}
.codota-icon-time:before {
    content: "\e934";
}
.codota-icon-submit:before {
    content: "\e935";
}
.codota-icon-tags:before {
    content: "\e936";
}
.codota-icon-send:before {
    content: "\e937";
}
.codota-icon-trash:before {
    content: "\e938";
}
.codota-icon-facebook-l:before {
    content: "\e939";
}
.codota-icon-love:before {
    content: "\e93a";
}
.codota-icon-layout-dock:before {
    content: "\e93b";
}
.codota-icon-layout-float:before {
    content: "\e93c";
}
.codota-icon-layout-side:before {
    content: "\e93d";
}
.codota-icon-layout-split:before {
    content: "\e93e";
}
.codota-icon-facebook:before {
    content: "\e93f";
}
.codota-icon-githu-l:before {
    content: "\e940";
}
.codota-icon-github:before {
    content: "\e941";
}
.codota-icon-gmail-l:before {
    content: "\e942";
}
.codota-icon-gmail:before {
    content: "\e943";
}
.codota-icon-google-l:before {
    content: "\e944";
}
.codota-icon-google:before {
    content: "\e945";
}
.codota-icon-linkedin-l:before {
    content: "\e946";
}
.codota-icon-linkedin:before {
    content: "\e947";
}
.codota-icon-maven:before {
    content: "\e948";
}
.codota-icon-slack-l:before {
    content: "\e949";
}
.codota-icon-slack:before {
    content: "\e94a";
}
.codota-icon-sof:before {
    content: "\e94b";
}
.codota-icon-trello-l:before {
    content: "\e94c";
}
.codota-icon-trello:before {
    content: "\e94d";
}
.codota-icon-twitter-l:before {
    content: "\e94e";
}
.codota-icon-twitter:before {
    content: "\e94f";
}
.codota-icon-android:before {
    content: "\e950";
}
.codota-icon-apple:before {
    content: "\e951";
}
.codota-icon-go:before {
    content: "\e952";
}
.codota-icon-java:before {
    content: "\e953";
}
.codota-icon-dock:before {
    content: "\e954";
}
.codota-icon-undock:before {
    content: "\e955";
}
.codota-icon-linux:before {
    content: "\e956";
}
.codota-icon-play:before {
    content: "\e957";
}
.codota-icon-windows:before {
    content: "\e958";
}
.codota-icon-thumbdown:before {
    content: "\e959";
}
.codota-icon-thumbup:before {
    content: "\e95a";
}
.codota-icon-bell:before {
    content: "\e95b";
}
.codota-icon-logout:before {
    content: "\e95c";
}
.codota-icon-doc:before {
    content: "\e95d";
}
.codota-icon-legal:before {
    content: "\e95e";
}
.codota-icon-tutorial:before {
    content: "\e95f";
}
